@media screen and (min-width: 481px){
    h1 {
        color: #f50d0d;
        /* 文字の大きさを40pxにしてください */
        
        font-size:37px;
        
        /* 文字の種類をserifにしてください */
        
        font-family:serif;
      }
    
      h2 {
        color: #050e08;
        /* 文字の大きさを40pxにしてください */
        font-size:30px;
        
        /* 文字の種類をserifにしてください */
        
        font-family:serif;
      }
    
    
    a{
        /* color:#e7b614; */
        font-family: serif;
        font-size: 20;
        
    }
    h3{
        color: #ee0d0d;
        /* 文字の大きさを40pxにしてください */
        font-size:22px;
        
        /* 文字の種類をserifにしてください */
        
        font-family:serif;

    }
    body{
        /*位置の設定*/
        
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 600;
        /*背景画像の設定*/
        background: url('./images/re_mascle.jpg');
        background-size: cover; 
    
        /*透過の設定*/
        
        /* background-image:('./images/snow_park.jpg');
        background-color:rgba(255,255,255,0.4);
        background-blend-mode:lighten; */
        margin-left: 200px;
        /* margin-right: 100px; */
    
    }
    p{
        color:#f50d0d
    }

}

@media screen and (max-width: 480px){
    h1 {
        color: #ff0000;
        /* 文字の大きさを40pxにしてください */
        /* font-size:15px; */
        
        /* 文字の種類をserifにしてください */
        
        font-family:serif;
      }
    
      h2 {
        color: #0a0c02;
        /* 文字の大きさを40pxにしてください */
        font-size:12px;
        
        /* 文字の種類をserifにしてください */
        
        font-family:serif;
      }
    
    
    a{
        /* color:#e7b614; */
        font-family: serif;
        font-size: 18;
    
    }
    
    body{
        /*位置の設定*/
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    
        /*背景画像の設定*/
        background: url('./images/re_mascle.jpg'); 
        background-size: cover;
    
        /*透過の設定*/
        
        /* background-image:('./images/snow_park.jpg');
        background-color:rgba(255,255,255,0.4);
        background-blend-mode:lighten; */
        margin-left: 50px;
        /* margin-right: 100px; */
    
    }
    test {

        float: none;
        
        }

    /* img {

        display:none ;
        
        } */
    p{
        color:#f50d0d
    }   
    
}